@font-face {
  font-family: neon;
  src: url("hellodenverdisplayregular_v1.6.ttf");
}
body {
  background: black;
}
h3 {
  font-size: 17px;
  text-align: center;
  color: #ffd8d8;
  margin-top: 20px;
  margin-bottom: -50px;
  font-family: "Athiti", sans-serif;
}
ul {
  text-align: left;
  list-style-type: none;
  position: relative;
  top: -90px;
  left: 255px;
}
hr {
  border-top: 30px dotted #ffd8d8;
  margin-top: -80px;
  opacity: 70%;
}

input[type="text"] {
  background-color: white;
  border: none;
  border-radius: 30px;
  padding-left: 40px;
  opacity: 50%;
}
button {
  border: none;
  background: none;
  color: white;
  opacity: 60%;
  transition: all 20ms ease-in-out;
  font-size: 20px;
}
button:hover {
  text-shadow: 0.1vw 0vw 0.1vw #ffd8d8, 0.1vw 0vw 0.1vw #ffd8d8,
    0.2vw 0vw 0.1vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.1vw 0vw 0vw #f25757,
    0.2vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.1vw 0vw 0.1vw #f25757,
    0.2vw 0vw 0.1vw #f25757, 0.1vw 0vw 1vw #f25757, 0.1vw 0vw 1vw #f25757,
    0.1vw 0vw 1vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.2vw 0vw 5vw #e50b0b, 0.1vw 0vw 3vw #e50b0b, 0.2vw 0vw 10vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 3vw #e50b0b, 0.2vw 0vw 15vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b;
}

button:focus {
  outline: none;
}

.container {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 40px;
  background-image: url("https://media.istockphoto.com/photos/black-brick-wall-dark-background-for-design-picture-id639173848?k=6&m=639173848&s=170667a&w=0&h=XqsulkBZnsd4ANbC46bLodBSfZTblmrWonP4mKM-5so=");
  border-radius: 30px;
}
.icon {
  color: white;
}
#search-city {
  text-align: center;
  top: 0px;
}
.wrapper {
  width: 50vm;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.neon-text {
  font-family: neon;
  text-align: center;
  font-size: 50px;
  color: #ffd8d8;
  padding: 0 1.5rem 0 1.5rem;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
    0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}
.neon-wrapper {
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e97272,
    0 0 4vw 0.4vw #e50b0b, inset 0 0 1.5vw 0.4vw #e50b0b,
    inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
  border-radius: 1.5rem;
}
.main-icon {
  color: white;
  opacity: 60%;
  font-size: 120px;
  margin-top: -50px;
  text-shadow: 0.1vw 0vw 0.25vw #ffd8d8, 0.2vw 0vw 0.25vw #ffd8d8,
    0.4vw 0vw 0.25vw #ffd8d8, 0.1vw 0vw 0vw #f25757, 0.2vw 0vw 0vw #f25757,
    0.4vw 0vw 0vw #f25757, 0.1vw 0vw 0.1vw #f25757, 0.2vw 0vw 0.1vw #f25757,
    0.4vw 0vw 0.1vw #f25757, 0.1vw 0vw 2vw #f25757, 0.2vw 0vw 2vw #f25757,
    0.4vw 0vw 2vw #f25757, 0.1vw 0vw 1vw #e50b0b, 0.2vw 0vw 1vw #e50b0b,
    0.4vw 0vw 5vw #e50b0b, 0.1vw 0vw 5vw #e50b0b, 0.2vw 0vw 20vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b, 0.1vw 0vw 10vw #e50b0b, 0.2vw 0vw 30vw #e50b0b,
    0.4vw 0vw 10vw #e50b0b;
}
#description {
  text-transform: uppercase;
  font-family: neon;
  text-align: right;
  font-size: 32px;
  color: #ffd8d8;
  font-weight: bold;
  position: relative;
  top: -180px;
  right: -30px;
}

.forecast {
  text-align: center;
}
.col-3 {
  font-size: 22px;
  color: #ffd8d8;
  font-family: "Athiti", sans-serif;
}
.icon {
  font-size: 28px;
  opacity: 60%;
}

#city-name {
  text-transform: uppercase;
}

.form {
  outline: none;
}